<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @protein, html: { class: 'form-horizontal' } do |form| %>

      <% if @protein.errors.any? %>
        <h2>errors!</h2>
          <ul>
            <% @protein.errors.full_messages.each do |message| %>
              <li><%= message %></li>
           <% end %>
          </ul>
      <% end %>

      <%= form.input :name, label: "Name (required)" %>
      <%= form.input :accession_number, required: false %>
      <%= form.input :sequence, required: false %>
      <%= form.input :weight, required: false %>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
    <!-- This will write the sequence and name to the database using POST. I can then use an instance variable, or call that protein by name or ID, and then work with the sequence. -->
  </div>
</div>

