<div class="row">
  <div class="col-md-12">
    <h1>Protein Data</h1>
  </div>
</div>
<!-- I believe this is CSS from twitter's Bootstrap -->

<div class="row">
  <div class="col-md-12">

    <!-- I believe this links to the new.html.erb view -->
    <hr />

    <table class="table table-bordered">
      <thread>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Accession Number</th>
          <th>Weight</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td><%= @protein.id %></td>
          <td><%= @protein.name %></td>
          <td><%= @protein.accession_number %></td>
          <td><%= @protein.weight %></td>
          <td></td>
          <td></td>
        </tr>
      <!-- this ends the ruby portion of the code -->
      </tbody>
    </table>
        <p>
        <%= @protein.sequence %>
        </p>
  </div>
</div>
